<!-- <router-outlet></router-outlet> -->
<div class="bodyContainer w-100">
  <div class="navBar">
    <div class="navBarHeader" [ngClass]="toggleSideBar ? 'w-70' : 'w-260'">
      NOTES
    </div>
    <div class="navBarContainer">
      <fa-icon *ngIf="!toggleSideBar" [icon]="faArrowLeft" (click)="clickEvent()"></fa-icon>
      <fa-icon *ngIf="toggleSideBar" [icon]="faHamburger" (click)="clickEvent()"></fa-icon>
      <fa-icon [icon]="faPlusSquare" (click)="addNewNote()"></fa-icon>
      <fa-icon [icon]="faTrash" (click)="deleteSelectedNote()"></fa-icon>
      <button type="button" class="ml25" (click)="saveToLocalStorage()"><fa-icon [icon]="faSave"></fa-icon> 
        Save </button>
      <input type="text" placeholder="Type in to search..." class="input-search" (keyup)="search($event.target.value)">
    </div>
  </div>
  <div class="menuBar" [ngClass]="toggleSideBar ? 'w-70' : 'w-260'">
    <div class="noteList" *ngFor="let note of filterednotes; let i = index">
      <div class="noteCard p-1 border-doted" [ngClass]="{ 'bggray': i == selectedIndex }" (click)="selectNote(i);">
        <div class="noteTitle">{{ note.title }}</div>
        <div class="noteBody">{{ note.body }}</div>
        <div class="noteBody">{{ note.timeStamp }}</div>

      </div>

    </div>
  </div>
  <div class="page" [ngClass]="toggleSideBar ? 'ml-80' : 'ml-280'">
    <form [formGroup]="notesForm" class="w-100">
      <div class="noteDetailsContainer">
        <div class="titleHeader">
          <input type="text" required [formControlName]="'title'">
        </div>
        <div class="titleBod">
          <textarea placeholder="Remember, be nice!" [formControlName]="'body'" cols="30" rows="5" spellcheck="false"
            data-ms-editor="true"></textarea>
        </div>
      </div>
    </form>
    <div class="noteSection">
      <ul>
        <li>1. Used angular , rxjs, ngRx</li>
        <li>2. View updated in 500 ms as debounce time is uses after you finish typing</li>
        <li>3. Used ngRx to update/write data to local storage.</li>
        <li>4. Deleting the last note always adds a new note(last note will be deleted and new note will be added).So note list will not be empty at any case</li>
      </ul>
    </div>
  </div>
</div>